# Node / Nx tooling
node_modules
.nx/cache
.nx/workspace-data

# .NET build output
[Bb]in/
[Oo]bj/
dist/

# Nx dist / intermediates
/dist

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# IDE / OS
.idea/
.vs/
*.user
.DS_Store
Thumbs.db
